* {
    box-sizing: inherit;
    margin:auto;
    background-color: #121212;
}

:root {
  --ease: all 0.8s ease 0s;
}

.topnav {
  overflow: hidden;
<<<<<<< Updated upstream
  background-color: #089648;

=======
  background-color: #121212;
>>>>>>> Stashed changes
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  background: #121212;
}

.topnav a:hover {
  background-color: #b2bac3;
  color: black;
  transition: var(--ease);
  filter: brightness(150%);
}

.topnav a.active {
  background-color:#121212;
  color: white;
}

.weatherDisplay {
    display: flex;
    justify-content: left;
    align-items: left;
}

.left-container {
    padding: 200px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#089648;
}

.mainContent {
    border: 5px solid black;
    padding: 10px;
    color: #b2bac3;
    text-align: center;
}

p {
  margin: auto;
  text-align: center;
}

.aboutText {
  color: white;
  text-align: center;
}

#about {
    color: white;
    text-align: center;
}

#contact {
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;    
}

.right-container {
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 200px;
}

footer {
    padding-top: 2500px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}