.topnav {
  overflow: hidden;
  background-color: steelblue;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #b2bac3;
  color: black;
}

.topnav a.active {
  background-color:steelblue;
  color: white;
}

* {
    box-sizing: inherit;
    margin:auto;
}


.weatherDisplay {
    display: flex;
    justify-content: left;
    align-items: left;
}

.clockDisplay {
    padding: 200px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:green;
}

.mainContent {
    border: 5px solid black;
    padding: 10px;
}

.right-container {
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 200px;
}

footer {
    padding-top: 2500px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
