@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: inherit;
    /* margin:auto; */
    background-color: #121212;
}

a:link {color: #45a1bd;}
a:visited {color: lightblue}
a:hover {color: lightblue}


:root {
  --ease: all 0.8s ease 0s;
}

.title {
  font-size: 35px;
}

.topnav {
  overflow: hidden;
  background-color: #121212;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  background: #121212;
}

.topnav a:hover {
  background-color: #b2bac3;
  color: black;
  transition: var(--ease);
  filter: brightness(150%);
}

.topnav a.active {
  background-color:#121212;
  color: white;
}

.weatherDisplay {
    display: flex;
    justify-content: left;
    align-items: left;
}

.mainContent {
    border: 5px solid black;
    /* padding: 10px; */
    color: #b2bac3;
    text-align: center;
}

p, h1 {
  margin-left: 100px;
  /* margin-top: auto; */
  text-align: left;
  line-height: 1.5;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

h2, .subcontent {
  margin-left: 120px;
  /* margin-top: auto; */
  text-align: left;
  line-height: 1.5;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;

}

h2 {
  font-size: 25px;
  font-weight: 700;
}


p {
  font-size: 16px;
  font-weight: 100;
}

h1 {
  font-size: 30px;
  font-weight: 500;

}


.aboutText {
  color: white;
  /* text-align: center; */
}

.officers {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: left;
  margin-left: 120px;
  font-size: 16px;
  font-weight: 300;
}

#about {
    color: white;
    text-align: center;
}

#contact {
    color: white;
    /* display: grid;
    justify-content: center;
    align-items: center;     */
}

footer {
    /* padding-top: 2500px; */
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

