@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap'); 

* {
    box-sizing: inherit;
    margin:auto;
    color: white;
    /* font-family: 'Noto Sans KR', sans-serif; */
}

#join-btn {
  float: right;
  transform: translateX(-100px);
}

:root {
    --ease: all 0.8s ease 0s;
}

.title {
  font-size: 35px;
}



.topnav {
  overflow: hidden;
  background-color: #121212;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  background: #121212;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.topnav a:hover {
  background-color: #b2bac3;
  color: black;
  transition: var(--ease);
  filter: brightness(150%);
}

.topnav a.active {
  background-color:#121212;
  color: white;
}

table a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

body{
    background-color:black;
    box-sizing:border-box;
}

/* header {
    background-color: black;
    height: 80px;
    padding: 8px;
    border: 2px solid green;
} */
/* h1 {
    color:green;
    font-size: 70px;
    font-family: 'Noto Sans KR', sans-serif;
} */

p {
    font-family: 'Noto Sans KR', sans-serif;
    /* margin: 48px; */
}

td a:link {color: #66c09b;}
td a:visited {color: rgb(70, 178, 221)}
td a:hover {color: lightblue}

a {
    font-size: 25px;
    padding: 20px;
}

a:link:active, a:visited:active {
    color: lightgreen;
}

th, td{
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 100px;
    /* text-align: center; */
}

table {
    text-align: center;
}

.content {
    text-align: center;
    padding-top: 100px;
}