@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap'); */
/* 
* {
    box-sizing: inherit;
    margin:auto;
    color: white;
} */

body{
    background-color:black;
    margin: 48px;
    box-sizing:border-box;
}

header {
    background-color: black;
    height: 80px;
    padding: 8px;
    border: 2px solid green;
}
h1 {
    color:green;
    font-size: 70px;
    font-family: 'Noto Sans KR', sans-serif;
}

p {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 48px;
}

a{
    font-size:20px;
}
a:link, a:visited {
    color: green;
    text-decoration: none;
}
a:hover {
    border:solid 1px green;
}
a:link:active, a:visited:active {
    color: lightgreen;
}

th, td{
    padding:5px;
}
.content {
    text-align: center;
}