@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: inherit;
    /* margin:auto; */
    background-color: #121212;
}

body {
  margin: auto;
}

a:link {color: #66c09b;}
a:visited {color: rgb(70, 178, 221)}
a:hover {color: lightblue}


:root {
  --ease: all 0.8s ease 0s;
}

/* .logos {
  height: 25px;
  width: 25px;
  float: left;
  padding: none;
  margin-left: 60px;
  /* opacity: 1; */
 */

.title {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #121212;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  background: #121212;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.topnav a:hover {
  background-color: #b2bac3;
  color: black;
  transition: var(--ease);
  filter: brightness(150%);
}

.topnav a.active {
  background-color:#121212;
  color: white;
}

.weatherDisplay {
    display: flex;
    justify-content: left;
    align-items: left;
}

.mainContent {
    /* border: 5px solid black; */
    /* padding: 10px; */
    color: #ffffff;
    text-align: center;
}

p, h1 {
  margin-left: 100px;
  margin-right: 100px;
  /* margin-top: auto; */
  text-align: left;
  line-height: 1.5;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
}

h2, .subcontent {
  margin-left: 120px;
  /* margin-top: auto; */
  text-align: left;
  line-height: 1.5;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;

}

h2 {
  font-size: 25px;
  font-weight: 700;
}


p {
  font-size: 16px;
  font-weight: 100;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}


.aboutText {
  color: white;
  /* text-align: center; */
}

#join-btn {
  float: right;
  transform: translateX(-100px);
}

.subbullets {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: left;
  margin-left: 120px;
  font-size: 18px;
  font-weight: 300;
  /* list-style-type: none; */
}

.subbullets p {
  margin: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: left;
  margin-left: 120px;
  font-size: 18px;
  font-weight: 300;
}

#links li {
  padding-bottom: 5px;
  /* list-style-type: none; */
}

#about {
    color: white;
    text-align: center;
}

#contact {
    color: white;
    /* display: grid;
    justify-content: center;
    align-items: center;     */
}

footer {
    /* padding-top: 2500px; */
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: aliceblue;
}